<%- include('header') %>
    <!-- display gavatar -->
    <script>
      window.addEventListener('load', function() {
        document.querySelector(".avatar").src = "https://www.gravatar.com/avatar/" + md5("<%=email%>".toLowerCase().trim())
      })
    </script>
    <form method="post" action="/interaction/<%= details.uuid %>/password">
      <img class="avatar" src="" />
      <% if(error) { %>
        <label class="error">The email address and password were invalid.</label>
      <% } %>
      <p>Great! Enter your password you would use to login<br/> to your email account at <code><%=email%></code>.<br/></p>
      <label for="password">Password</label>
      <input type="password" name="password" value="" />
      <input type="hidden" name="csrf" value="<%=csrf%>" />
      <input type="hidden" name="email" value="<%=email%>" />
      <button type="submit">Login</button>
      <p><a class="subtle" href="#">I dont feel comfortable doing this.</a></p>
    </form>
<%- include('footer') %>